<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ver" value="2.47"/>
    <add key="MailTo" value="shilacoh3@gmail.com"/>
    <add key="BaseUrl" value="www.tori.co.il"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="50000"/>
    <customErrors defaultRedirect="\" mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="start.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="MyTorConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=model;Integrated Security=True"/>
    <add name="MyTorConnSomee" connectionString="workstation id=TanaDb12.mssql.somee.com;packet size=4096;user id=ucohen_SQLLogin_1;pwd=sjz246zueo;data source=TanaDb12.mssql.somee.com;persist security info=False;initial catalog=TanaDb12"/>
  </connectionStrings>
</configuration>